* {
    margin: 0;
    border-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
}

.container {
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    
}

.image {
    width: 95%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
}